.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    list-style: none;

    li {
      margin-left: 2em;

      a {
        color: black;
        text-transform: uppercase;
      }
    }
  }
}