.home {
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // .left,
    // .right {
    //   width: 40%;
    // }

    .left {
      width: 50%;

      p {
        margin: 3em 0;
      }

      a.fill {
        margin-right: 1em;
        margin-bottom: 1em;
      }
    }

    .right {

      img {
        height: 100%;
        max-height: 73vh;
        width: 100%;
      }
    }
  }

  .available {
    text-align: center;
    color: rgba($color: #000000, $alpha: 0.5);
    // background-image: linear-gradient(lighten($color: #5F8FEE, $amount: 100), #5f8feec4);

    img.lg {
      width: 80vw;
      max-width: 800px;
      margin: auto;
    }

    h1 {
      margin: 2em 0;
      text-transform: uppercase;
      // color: white;
    }

    .download {
      img {
        max-height: 70px;
        width: 80vw;
        max-width: 300px;
      }
    }
  }

  .squaredbot {
    text-align: center;
    // background-image: linear-gradient(#5f8feec4, #5F8FEE);
    background-color: #5F8FEE;
    color: white;

    svg {
      font-size: 10em;
    }

    .intro {
      svg {
        font-size: 1.3em;
        margin-top: 2em;
        margin-bottom: -0.3em;
      }

      h1 {
        margin: auto;
        margin-bottom: 1.3em;
        background-color: white;
        color: #5F8FEE;
        padding: 0.5em 1em;
        width: fit-content;
      }
    }

    h1,
    p {
      font-weight: normal;
      border-radius: 10px;
    }

    p {
      margin: 1em 0;
      padding: 1em 2em;
      background-color: white;
      color: #5F8FEE;
      width: 80vw;
      margin: auto;
      max-width: 700px;
      line-height: 1.4;
    }

    h3 {
      margin: 1.3em 0;
    }

    a span {
      margin-left: 1em;
    }
  }

  .smart {
    text-align: center;
    position: relative;

    img.simple {
      height: 100vh;
      max-height: 700px;
    }

    h1 {
      margin: 1em 0;
      color: white;
    }

    img.bg {
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: -1px;
      width: 100%;
    }
  }

  .features {
    color: white;
    background: #5F8FEE;
    padding-top: 5em;
    text-align: center;

    h1 {
      margin-bottom: 1em;
    }

    .content {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .feature {
        width: 80vw;
        max-width: 350px;
        text-align: center;
        margin: 2em;

        img {
          height: 70vw;
          max-height: 300px;
        }

        h3 {
          font-size: 170%;
          margin: 2em 0 0.7em 0;
        }
      }
    }
  }

  .subscribe {
    text-align: center;

    #subscribe-form {
      input {
        padding: 1em 2em;
        font-family: inherit;
        border-radius: 100px;
        outline: none;
        margin: 1em;
      }

      input[type=text] {
        border: 1px solid #5F8FEE;
        width: 80vw;
        max-width: 400px;
      }

      ::placeholder {
        color: #5F8FEE;
      }

      input[type=submit] {
        background-color: #5F8FEE;
        color: white;
        border: none;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        text-transform: uppercase;
      }

      input[type=submit]:hover {
        opacity: 0.7;
      }

      #loader {
        animation: loading 1s ease-in-out infinite;
        margin: 0 3em;
        // animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }
    }
  }

  @media (max-width: 960px) {
    .main {
      flex-direction: column;

      .left,
      .right {
        width: 100%;
      }

      .left {
        margin-bottom: 5em;
      }
    }
  }

  @media (max-width: 700px) {
    .smart img.bg {
      width: fit-content;
    }
  }
}

@keyframes loading {
  50% {
    transform: scale(2.3);
  }

  100% {
    transform: scale(1);
  }
}