.home {
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // .left,
    // .right {
    //   width: 40%;
    // }

    .left {
      width: 50%;

      p {
        margin: 3em 0;
      }

      a {
        display: inline-block;
        padding: 1em 2em;
        border-radius: 5px;
      }

      a:hover {
        opacity: 0.7;
      }
    }

    .right {

      img {
        height: 100%;
        max-height: 73vh;
        width: 100%;
      }
    }
  }

  .available {
    text-align: center;
    margin-top: 7em;
    color: lighten($color: #000000, $amount: 0);
    background-image: linear-gradient(lighten($color: #5F8FEE, $amount: 100), #5F8FEE);

    img.lg {
      width: 80vw;
      max-width: 800px;
      margin: auto;
    }

    h1 {
      margin: 2em 0;
      color: white;
    }

    .download {
      img {
        max-height: 70px;
        width: 80vw;
        max-width: 300px;
      }
    }
  }
}