.footer {
  text-align: center;
  color: white;
  background-color: #5f8fee;

  .content {
    display: flex;

    h1 {
      font-size: 170%;
    }

    p {
      margin: 0.3em 0 1em 0;
      text-align: left;
    }

    .social {
      display: flex;
      margin-bottom: 1em;

      a {
        padding: 0.5em 0;
        width: 2.3em;
        text-align: center;
        background-color: #87b0ff;
        border-radius: 10px;
        margin-right: 3em;
      }

      a:hover {
        opacity: 1;
        background-color: #6c9eff;
      }
    }
  }

  p a {
    color: darken($color: #607D8B, $amount: 30);
  }
}