.container {
  padding: 3em 10vw;
}

a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  display: inline-block;
  padding: 1em 2em;
  border-radius: 5px;
}

a.fill {
  background-color: #5F8FEE;
  color: white;
}

a.fill-white {
  background-color: white;
  color: #5F8FEE;
}

a.outline {
  border: 1px solid #5F8FEE;
  color: #5F8FEE;
}

a:hover {
  opacity: 0.7;
}

h1.headline {
  font-size: 400%;
  font-weight: 600;
}

p.lead {
  font-size: 130%;
  color: #757575;
}